variables:
  ASAN_SYMBOLIZER_PATH: "/usr/bin/llvm-symbolizer"

# GCC 5 production
gcc-5-release:
  tags:
    - xenial
  script:
    - export BOOST_ROOT=/opt/boost_1_60_0-gcc-5
    - mkdir -p build-gcc-5
    - cd build-gcc-5
    - cmake -DCMAKE_BUILD_TYPE=Release ..
    - make -j8 conf-example conf-test
    - ./conf-example
    - ./conf-test

# Clang 3.8 debug with address sanitizer
clang-3.8-debug-asan:
  tags:
    - xenial
  script:
    - export CXXFLAGS="-fsanitize=address -fno-omit-frame-pointer"
    - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
    - export CXX=clang++-3.8
    - export CC=clang-3.8
    - mkdir -p build-asan
    - cd build-asan
    - cmake -DCMAKE_BUILD_TYPE=Debug ..
    - make -j8 conf-example conf-test
    - ./conf-example
    - ./conf-test


# Clang 3.8 debug with thread sanitizer
clang-3.8-debug-tsan:
  tags:
    - xenial
  script:
    - export CXXFLAGS="-fsanitize=thread -fno-omit-frame-pointer"
    - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
    - export CXX=clang++-3.8
    - export CC=clang-3.8
    - mkdir -p build-tsan
    - cd build-tsan
    - cmake -DCMAKE_BUILD_TYPE=Debug ..
    - make -j8 conf-example conf-test
    - ./conf-example
    - ./conf-test

# GCC 5 debug valgrind
gcc-5-debug-valgrind:
  tags:
    - xenial
  script:
    - export BOOST_ROOT=/opt/boost_1_60_0-gcc-5
    - mkdir -p build-gcc-5-valgrind
    - cd build-gcc-5-valgrind
    - cmake -DCMAKE_BUILD_TYPE=Debug ..
    - make -j8 conf-example conf-test
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full ./conf-example
    - valgrind --error-exitcode=1 --show-reachable=yes --leak-check=full ./conf-test

# MSVC release
msvc-release:
  tags:
    - windows
  script:
    - set WD=%cd%
    - call "C:\Program Files (x86)\Microsoft Visual C++ Build Tools\vcbuildtools.bat" amd64
    - cd %WD%
    - set BOOST_ROOT=C:\boost_1_60_0
    - mkdir build-msvc-release
    - cd build-msvc-release
    - cmake -G "NMake Makefiles JOM" -DCMAKE_BUILD_TYPE=Release -DZLIB_ROOT=C:\zlib-1.2.8 ..
    - jom conf-example conf-test
    - conf-example
    - conf-test

# # Clang-Tidy
# clang-tidy:
#   tags:
#     - xenial
#   script:
#     - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
#     - export CXX=clang++-3.8
#     - export CC=clang-3.8
#     - mkdir build-clang-tidy
#     - cd build-clang-tidy
#     - cmake -DNO_SSL=true -DMOTIS_LINT=true ..
#     - make -j8 lint

# # Clang-Format
# clang-format:
#   tags:
#     - xenial
#   script:
#     - export BOOST_ROOT=/opt/boost_1_60_0-clang-3.8
#     - mkdir build-clang-format
#     - cd build-clang-format
#     - cmake -DNO_SSL=true ..
#     - make format-check
