name: Windows Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        mode: [Debug, Release]

    steps:
    - uses: actions/checkout@v2
    - uses: microsoft/setup-msbuild@v1.0.0

    - name: env
      run: echo "::set-env name=BOOST_ROOT::$env:BOOST_ROOT_1_72_0"

    - name: CMake
      run: cmake -G "Visual Studio 16 2019" -A x64 -S . -B build

    - name: Build
      run: cmake --build build --target conf-example conf-test --config ${{ matrix.mode }}

    - name: Run tests
      run: |
        cd build
        ${{ matrix.mode }}\conf-test.exe
        ${{ matrix.mode }}\conf-example.exe
